extends ../shared/template

block content
  body(style='background-image: none; background-color: #ff4b3b')
  #logo
  #logo2
  h1= title

  #user= user.email

  #new: a(href='/orders' class='button grey small') New Order

  .pastorders
    each order in orders
      .history
        .date= order.date.toDateString()
        .total Cost: $#{order.totalCost.toFixed(2)}
        .totalcalories Calories: #{order.totalCals}
        .itemsordered Items Ordered: #{order.meal.length}

block scripts
  script(src='/js/es6/compiled/orders.js')
